<h1 style="text-align: center">
  Chương trình thông báo về Coronavirus Covid 19
</h1>
<br />
<div>
  <table id="data" style="border-collapse: collapse">
    <tr>
      <th *ngFor="let data of globalData | keyvalue">
        {{ data.key }}
      </th>
    </tr>
    <tr>
      <th *ngFor="let data of globalData | keyvalue">
        {{ data.value }}
      </th>
    </tr>
  </table>
</div>
<br />
<div *ngIf="countriesData && countriesData.length > 0">
  <table id="data" style="border-collapse: collapse">
    <tr>
      <th *ngFor="let data of countriesData[0] | keyvalue">
        <span class="sorting">
          <mat-icon style="cursor: pointer" (click)="orderBy(data.key,'asc')">
            arrow_downward
          </mat-icon>
          <mat-icon style="cursor: pointer" (click)="orderBy(data.key,'desc')">
            arrow_upward
          </mat-icon>
          <span>{{ data.key }}</span>
        </span>
      </th>
    </tr>
    <tr *ngFor="let row of countriesData" class="">
      <td *ngFor="let data of row | keyvalue">
        <!-- <span *ngIf="data.key === 'Date'">
          {{ data.value | date: "yyyy-MM-dd" }}
        </span>
        <span *ngIf="data.key !== 'Date'">{{ data.value }}</span> -->
        {{ data.value }}
      </td>
    </tr>
  </table>
</div>
