<mat-toolbar color="primary" class="nav-height">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="openLeftSide()">menu</mat-icon>
    </button>
    <h1>Quản lý sinh viên</h1>
    <span class="menu-spacer" style="width: 100px"></span>
    <div>
      <a
        mat-button
        [routerLink]="['/dashboard']"
        [routerLinkActive]="'active-link'"
      >
        <mat-icon mat-list-icon>home</mat-icon> Bảng điều khiển
      </a>
      <a
        mat-button
        [routerLink]="['/students']"
        [routerLinkActive]="'active-link'"
      >
        <mat-icon>folder_shared</mat-icon>
        <span
          *ngIf="totalStudents > 0"
          matBadge="{{ totalStudents }}"
          matBadgeColor="warn"
          matBadgeSize="small"
          >Sinh Viên</span
        >
      </a>
      <!-- <a
      mat-button
        [routerLink]="['/reactive-form']"
        [routerLinkActive]="'active-link'"
      >
        <mat-icon>shared</mat-icon> Reactive Form
      </a> -->
      <a
        mat-button
        [routerLink]="['/about']"
        [routerLinkActive]="'active-link'"
      >
        <mat-icon>person</mat-icon> About
      </a>
      <!-- <a mat-button (click)="sidenav.toggle()" mat-button>
        <mat-icon>close</mat-icon> Đóng
      </a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="closeLeftSide()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">
        <mat-icon mat-list-icon>home</mat-icon> Bảng điều khiển
      </a>
      <a mat-list-item [routerLink]="['/students']">
        <mat-icon>folder_shared</mat-icon> Students
      </a>
      <a mat-list-item [routerLink]="['/about']">
        <mat-icon>person</mat-icon> About
      </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon> Đóng
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      style="
        height: 90vh;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
      "
      [ngClass]="{
        'content-move-left': !isOpened,
        'content-move-right': isOpened
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
