<div>
  <button mat-raised-button color="accent" (click)="addStudent()">
    <mat-icon>add_box</mat-icon>
    Thêm Sinh Viên
  </button>
  <table id="customers" style="border-collapse: collapse">
    <tr>
      <th>Id</th>
      <th>
        Code
        <mat-icon style="cursor: pointer" (click)="sortByCodeStudent('down')">
          arrow_downward
        </mat-icon>
        <mat-icon style="cursor: pointer" (click)="sortByCodeStudent('up')">
          arrow_upward
        </mat-icon>
      </th>
      <th>Gender</th>
      <th>Tên</th>
      <th>Họ</th>
      <th>Ngày tháng năm</th>
      <th>Diện Thư</th>
      <th>Điện Thoại</th>
      <th>Hình</th>
      <th>Hành Động</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student?.id }}</td>
      <td>{{ student?.code }}</td>
      <td>{{ student?.gender }}</td>
      <td>{{ student?.firstName }}</td>
      <td>{{ student?.lastName }}</td>
      <td>{{ student?.dob }}</td>
      <td>{{ student?.email }}</td>
      <td>{{ student?.phone }}</td>
      <td align="center">
        <img
          *ngIf="student?.picture"
          src="{{ student?.picture }}"
          height="50"
        />
      </td>
      <td>
        <mat-icon
          style="cursor: pointer"
          title="Nhấn vào để xóa!"
          (click)="deleteStudent(student.id)"
          >delete_forever
        </mat-icon>
        &nbsp;
        <mat-icon
          style="cursor: pointer"
          title="Nhấn vào để edit!"
          (click)="editStudent(student.id)"
          >edit</mat-icon
        >
      </td>
    </tr>
  </table>
</div>
